@font-face {
    font-family: HarryPotter; src: url("harry-p.ttf");
}

body, html {
    height: 100%;
    margin: 0;
    color: white;
}
h1 {
    font-size: 64px;
    color: rgb(245, 226, 175);
}

body {
    background-color: rgb(28, 37, 158);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: HarryPotter, sans-serif;
}

button {
    font-family: HarryPotter, sans-serif;
}

/* HEADER */

.header-div {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.shop-logo {
    width: 10rem;
}

.nav-btn {
    height: fit-content;
    border-radius: 5px;

    text-shadow: 0px 0px 12px rgb(255 255 255 / 40%) !important;
    font-size: 3rem;

    color: rgb(214, 244, 255);

    background-color: rgb(11, 15, 79);
    
}

.nav-btn:hover {
    border-color: rgb(252, 162, 146);
    box-shadow: inset 0 0 25px red;
    color: rgb(122, 206, 231);
    cursor: pointer;
}

.active {
    background-color: rgb(58, 197, 183);
    border-color: rgb(135, 206, 235);
    color: rgb(58, 197, 183);
    box-shadow: inset 0px 0 7px 30px rgb(37 16 41);
    
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

/* BODY */

h2 {
    color: white;
}

/* Home */
.info-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
}

.description {
    font-size: 3rem;
    width: 60rem;
}

/* Menu */

.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.menu-item {
    height: 20rem;
    width: 20rem;
    object-fit: scale-down;
}

.item-name-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item-name {
    display: flex;
    justify-content: center;
    color: rgb(221, 173, 114);
    font-size: 2rem;
}

/* Contact */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact {
    font-size: 2rem;
    margin-top: 0;
}

.map {
    height: 30rem;
    object-fit: scale-down;
    margin: 1rem;
}

.title {
    font-size: 2.5rem;
    color: coral;
    margin-bottom: 0;
}